/* ===========================
---------  Universal ----------
=============================*/

/*{
	border: solid red .1px;
} */


*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}

/* --- Container Override --- */
.container {
	width: 100%;
}

body {
  background-color: #000;

}

.fullheight {
  height: 100vh;
  overflow: hidden;
}

/* --- Links --- */
a:link, 
a:visited,
a:hover,
a:active {
	color: white;
}

.col-xs-12 {
	color: white;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  padding-top: 40vh;
  color: white;
}
/* ===========================
--------- Navigation ----------
=============================*/

nav {
	float: left;
	position: fixed;
	top: 25vh;
 	left: 0;
	background: transparent;
}

nav ul {
	text-align: center;
	list-style-type: none;
	padding-left: 0;
	display: none;
}

nav ul li {
	position: relative;
	width: 70px;
	height: 70px;
	cursor: pointer;
	text-transform: uppercase;
	transition: all .4s ease-out;
	color: white;

	
}

nav ul li:after {
	position: absolute;
	top: 0;
	left: 70px;
	width: 70px;
	height: 100%;
	opacity: .5;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition: all .4s ease-out;

}

nav ul li:nth-child(1):after {
	content: "Home";
	line-height: 70px;
	
}

nav ul li:nth-child(2):after { 
	content: "About";
	line-height: 70px;
	
}
nav ul li:nth-child(3):after { 
	content: "Work";
	line-height: 70px;
	
}
nav ul li:nth-child(4):after { 
	content: "Contact";
	line-height: 70px;

}

nav ul li:hover {
	transform: translateX(-70px);
}

nav ul li:hover:after {
	opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1);


}

nav ul li > div {
	display: inline-block;
	padding: 20px 20px;
	background: transparent;
}

nav ul li div {
	position: relative;
}
/* --- Button Colors --- */

#home {
	background: #ff005d;
}

#home:after {
	background: rgba(255, 0, 93, 0.8);
	color: white;

}

#work {
	background: #4d89ff;
}

#work:after {
	background: rgba(77, 137, 255, 0.8);
	color: white;

}

#about {
	background: #00ff85;
}

#about:after {
	background: rgba(0, 255, 133, 0.8);
	color: white;
}

#contact {
	background: #fcf37b;
}

#contact:after {
	background: rgba(252, 243, 123, 0.8);
	color: white;
}



/* --- Nav Links --- */


.offset {
	margin: 2px 2px;
	height: 65px;
	width: 65px;
	cursor: pointer;
	position: absolute;
	list-style-type: none;
	z-index: 2;

}

/* ===========================
------------ SVG -------------
=============================*/

.container {
  	 width: 800px;
     max-width: 90vw;
     height: 400px;
  	 position: absolute;
  	 top: 40vh;
  	 left: 25vw;

}
.container svg {
  	fill: none;
}
.container svg path {
  -webkit-transition: fill .3s ease-in-out;
  fill: transparent;
  stroke-width: 1px;
}
.container.completed svg path {
  -webkit-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
  fill: #fff;
}

.container.completed svg path:nth-child(4n+23)  {
  -webkit-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
  fill: #ff005d;
}

.container.completed svg path:nth-child(4n+24)  {
  -webkit-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
  fill: #00ff85;
}

.container.completed svg path:nth-child(4n+25)  {
  -webkit-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
  fill: #4d89ff;
}

.container.completed svg path:nth-child(4n+26)  {
  -webkit-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
  fill: #fcf37b;
}

/* ======================
------ Portfolio --------
======================= */

.work-wrap {
  position: relative;
}

.work-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.2);
  display: none;
  opacity: 0;
}

.work-menu, 
.work-menu ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.work-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.work-menu ul li {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content:  center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items:  center;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  display: none;

}

.work-menu li a {
  position: relative;
  top: 30%;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.3rem;
  opacity: 0;
}

.work-menu li a:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.work-menu li a:after {
  content: attr(data-content);
  font-size: 2rem;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}

.work-menu li a:hover:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.work-menu li a:hover:after {
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
  opacity: 1;
}

.work-menu li:nth-of-type(1) {
  background-color: #000;
}

.work-menu li:nth-of-type(2) {
  background-color: #4d89ff;
}

.work-menu li:nth-of-type(3) {
  background-color: #00ff85;
}

.work-menu li:nth-of-type(4) {
  background-color: #ff005d;
}



/* ====================================
---------- Menu Icon ------------------
==================================== */

.triple_lines {
  position: absolute;
  right: 50%;
  top: 3vh;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
}

.fixed_menu {
  position: fixed;
  right: 5rem;
  top: 3rem;
}

.triple_lines span {
  display: block;
  height: 1px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
}

.animate-top-bar {
  -webkit-animation: animate-top-bar .6s linear 1 both;
  animation: animate-top-bar .6s linear 1 both
}

.animate-bottom-bar {
  -webkit-animation: animate-bottom-bar .6s linear 1 both;
  animation: animate-bottom-bar .6s linear 1 both
}

.animate-middle-bar {
  -webkit-animation: animate-middle-bar .6s linear 1 both;
  animation: animate-middle-bar .6s linear 1 both
}

.animate-out-top-bar {
  -webkit-animation: animate-out-top-bar .6s linear 1 both;
  animation: animate-out-top-bar .6s linear 1 both
}

.animate-out-bottom-bar {
  -webkit-animation: animate-out-bottom-bar .6s linear 1 both;
  animation: animate-out-bottom-bar .6s linear 1 both
}

.animate-out-middle-bar {
  -webkit-animation: animate-out-middle-bar .6s linear 1 both;
  animation: animate-out-middle-bar .6s linear 1 both
}


/* ====================================
Animation keyframes
==================================== */

@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #29363B;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #fff;
  }
}

.work-wrap a {
  font-family: "Work Sans", sans-serif;
  color: #222;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50px;
  padding-bottom: 3px;
  border-bottom: 1px solid #222;
}

@media (max-width: 640px) {
  .work-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .work-menu ul li {
    height: 20%;
  }
  .work-menu ul li a {
    font-size: 16px;
  }
  .work-menu li a:after {
    font-size: 1rem;
    bottom: -25px;
  }
  .work-menu li a:hover:after {
    transform: translateY(0);
  }
  .triple_lines {
    right: 1rem;
  }
  .work-menu li a:before {
    width: 25px;
  }
}


/* ====================================
Portfolio Images
==================================== */


.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  outline: none;
  display: block;
}









